[submodule "nerfstudio"]
	path = nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "src/rockedgesdetectors"]
	path = src/rockedgesdetectors
	url = https://github.com/Kolad2/rockedgesdetectors.git
[submodule "src/polycamsplittig"]
	path = src/polycamsplittig
	url = https://github.com/Kolad2/PolycamSplitting.git
[submodule "src/orthostitcher"]
	path = src/orthostitcher
	url = https://github.com/Kolad2/orthostitcher
[submodule "src/pyrocksegmentation"]
	path = src/pyrocksegmentation
	url = https://github.com/IDGRockFragmentationAnaliz/pyrocksegmentation.git
